#editorpage {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}
a { color: #345597; }
#wizardcontainerbox p, #wizardcontainerbox h2, #wizardcontainerbox table {
  color: #444;
  margin-left: 256px;
  margin-right: 25%;
}
table th, table td {
  padding: 0.2em;
  text-align: left;
}
#footer {
  padding: 16px 11px;
  font-size: 1.6em;
}
#footer a { color: #6780B1; }
#footer p {
  color: #888;
  margin-left: 256px;
  margin-top: 6px;
  margin-right: 25%;
}
